# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  batch: true
  branches:
    include:
    - rc
    - dev
    - master
pr:
  - rc
  - dev
  - master

resources:
  containers:
  - container: py37
    image: python:3.7
    
  - container: py38
    image: python:3.8
    
stages:
- stage: 'Test'
  jobs:
  - job: 'Test'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      maxParallel: 3
      matrix:
        Python37:
          containerResource: py37
        Python38:
          containerResource: py38

    container: $[ variables['containerResource']]

    steps:
    - script: |
        python -m venv venv
        . venv/bin/activate

        pip install -r requirements.txt
      displayName: 'Install dependencies'
    - script: |
        . venv/bin/activate

        pip install -e .
      displayName: 'Install'
    - script: |
        . venv/bin/activate

        pip install pytest pytest-azurepipelines pytest-cov pytest-xdist
        pytest --cov compal --cov-report html -qq -o console_output_style=count -p no:sugar tests
      displayName: 'pytest'
    # Dirty but low-effort way to run the same steps that tox does:
    # This could be a lint and a test stage
    - script: |
        . venv/bin/activate

        pip install tox
        tox

- stage: 'Dist'
  dependsOn: 'Test'
  jobs:
  - job: 'BuildDist'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      matrix:
        Python37:
          containerResource: py37
    container: $[ variables['containerResource']]

    steps:
    - script: |
        python -m venv venv
        . venv/bin/activate

        pip install -r requirements.txt
        pip install readme_renderer twine check-manifest
      displayName: 'Install dependencies'
    - script: |
        . venv/bin/activate
        twine check dist/*
        check-manifest
    - script: |
        . venv/bin/activate

        python setup.py sdist
      displayName: 'Build dist'
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: 'dist'

